* {
    margin: 0;
    padding: 0;
  }
  body {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    color: #0f0f0f;
    padding: 5px;
  }
  .d-flex {
      display: flex;
  }
  
  .text-center{
      text-align: center;
  }
  
  .btn:link,
  .btn:visited {
      text-transform: uppercase;
      text-decoration: none;
      padding: 5px 10px;
      display: inline-block;
      transition: all 0, 2s;
      font-size: 13px;
      color: #ffffff;
  
  }
  .contenar {
    height: 90vh;
    background-image: linear-gradient(to right bottom,
        rgba(114, 69, 156, 0.671),
        rgba(36, 31, 37, 0.671)),
      url("image/header.jpg");
      background-size: cover;
    background-position: center;
    position: relative;
    top: 5px 5px;
    color: aliceblue;
  }
  
  
  .btn-whight {
      background-color: #c69963;
  }
  
  .btn:hover {
      transform: translateY(-3px);
  }
  
  
  .m-b-15 {
    margin-bottom: 15px;
  }
  
  
  .logho{
      text-align: center;
      margin-top: 0%;
  }
  .title{
    margin-top: 20%;
    margin-left: 3%;
  }
  
  .c-bround{
    color: #ee8f13;
    font-size: 20px;
  }
  .liner{
    font-size: 30px;
  }
  
  /* second section*/
  .m-b-20 {
    margin: 30px 55px;
  }
  .second-section{
    margin:0px 3px ;
    background-color: #fdf8f6;
  }
  
  /* theard section*/
  
  
  .img {
    position: absolute;
    box-shadow: rgba(0, 0, 0, 0.2);
    outline-offset: 5px;
    transition: all 0.5s;
    
  }
  
  .img-1 {
    left: 20%;
    top: 100px;
    width: 300px;
    z-index: 0;
  
  }
  
  .img-2 {
    left: 55%;
    top: 200px;
    height: 150px;
    width: 300px;
    z-index: 1;
  }
  
  .img-3 {
    width: 100%;
    height: 400px;
  }
  
  
  .img-box {
    position: relative;
  }
  
  .img:hover {
    transform: scale(1.05);
    outline: 4px solid #f5efed;
    z-index: 1;
  }
  
  
  
  .part-3 {
    height: 400px;
    background-color: #fdf8f6;
    font-size: 15px; 
  
  }
  .pera-3{
    margin-top: 60px;
    margin-left: 90px;
  }
  
  
  /*home-manu-section*/
  
  .usa {
    font-size: 16px;
    margin-top: 30px;
    margin-left: 30px;
  }
  .price {
    font-size: 16px;
    margin-top: 30px;
    margin-left: 90px;
    
  }
  
  /*comand*/
  
  .home-manu-section {
    padding: 80px 180px;
    background-color: #fdf8f6;
  }
  
  .card-img-manu {
    background-color: #f5ece9;
    width: 250px;
    height: 350px;
    margin: 40px;
  }
  
  .inner-card-1 {
    height: 150px;
    width: 250px;
    background-image: url("image/manu\ pic\ \(1\).webp");
    background-size: cover;
    background-position: center;
  }
  .inner-card-2 {
    height: 150px;
    width: 250px;
    background-image: url("image/manu\ pic\ \(2\).jpg");
    background-size: cover;
    background-position: center;
  }
  .inner-card-3 {
    height: 150px;
    width: 250px;
    background-image: url("image/manu\ pic\ \(3\).jpg");
    background-size: cover;
    background-position: center;
  }
  .inner-card-4 {
    height: 150px;
    width: 250px;
    background-image: url("image/manu\ pic\ \(4\).jpg");
    background-size: cover;
    background-position: center;
  }
  .inner-card-5 {
    height: 150px;
    width: 250px;
    background-image: url("image/manu\ pic\ \(5\).jpg");
    background-size: cover;
    background-position: center;
  }
  .inner-card-6 {
    height: 150px;
    width: 250px;
    background-image: url("image/manu\ pic\ \(6\).jpg");
    background-size: cover;
    background-position: center;
  }
  .maj{
    margin-top: -18px;
    margin-left: 35px;
  }
  
  .home {
    font-size: 13px;
    font-family: 'Prompt', sans-serif;
    text-align: center;
    color: #fff;
    background-color: #101d2ce6;
    width: 80%;
    padding: 6px 0;
  }
  
  .home2 {
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #fff;
    background-color: #c69963;
    width: 100%;
    padding: 6px 0;
  }
  
  .maj2 {
    margin-top: 98px;
  }
  
  /*footer*/
  .footer{
    padding: 10%;
    color: #ffffff;
    background-color: #111024;
    text-align: center;
   }
  
  .footer-manu{
    margin-left: 10%;
  }
  .F-text{
    margin: 20px 20px;
  }
  